body {
    font-family: 'Bungee', cursive;
    background-color: #006080;
}

header {
    height: 100px;
    background-color: #00293b;

}

.header {
    text-align: center;
}

.header h1 {
    font-size: 50px;
    color: #f8b300;
    margin: 0 0 15px;
    padding: 10px 0 0;
}

.header p {
    text-align: center;
    display: inline;
    padding: 0 30px 0;
    color: #c77000;
}

/*/--------------SOBRE MIM-----------------/*/
.tituloSobre {
    color: #f8b300;
    text-shadow: #00293b 2px 2px;
    text-align: center;
    font-size: 30px;
    margin: 30px 0 0px;
}

.textoSobre {
    padding: 10px 60px;
    margin: 0 12%;
    font-size: 20px;
    line-height: 30px;
    color: #f8b300;
    text-shadow: #00293b 1px 1px;
    background-color: #c77000;
    border-radius: 10px 100px;
}

/*/-----------------HABILIDADES----------------------------/*/
.habilidades {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.habilidadeTitulo {
    text-align: center;
    font-size: 20px;
    margin: 30px 0 15px;
    color: #c77000;
    text-shadow: #00293b 1px 1px;

}


.habilidades .btnA {
    transform: scale(1.0);
    transition: 1.5s;
    border: none;
    height: 250px;
    width: 300px;
    margin: 0 100px 30px;
    background-image: url("html5.png");
    background-color: #006080;
    background-size: 100% 100%;
    border-radius: 100px 10px;
}

.habilidades .btnA:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 1.2s;
    background-color: #00293b;
    box-shadow: 10px 10px 20px #00293b;
}

.habilidades .btnB {
    transform: scale(1.0);
    transition: 1.5s;
    border: none;
    height: 250px;
    width: 300px;
    margin: 0 100px 0;
    background-image: url("js.png");
    background-color: #006080;
    background-size: 100% 100%;
    border-radius: 10px 100px;
}

.habilidades .btnB:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 1.2s;
    background-color: #00293b;
    box-shadow: 10px 10px 20px #00293b;
}

/*/------------MVV------------------/*/

.tituloMvv {
    text-align: center;
    font-size: 30px;
    margin: 30px 0 px;
    color: #f8b300;
    text-shadow: #00293b 2px 2px;
}

.textoMvv {
    text-align: center;
    font-size: 20px;
    color: #f8b300;
    text-shadow: #00293b 1px 1px;
    background-color: #c77000;
    border-radius: 100px 10px;
    margin: 0 20%;
}

.textoMvv li {
    padding: 07px 0 07px;
}


/*/--------------RODAPÉ------------------/*/
.rodape {
    background-color: #00293b;
    height: 120px;
    margin: 30px 0 0;
}

.rodape div {
    margin: 0 10px 0 800px;
}

.rede {
    float: left;
    margin: 0 20px;
    transform: scale(1.0);
    transition: 1.2s;

}

.rede:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: 1.1s;

}

.copy {
    text-align: center;
    color: #c77000;
    background-color: #00293b;
    padding: 10px 0 0;
}

/*/--------------CONFIGURAÇÃO RESPONSIVA-----------------------/*/

/*/dispositivos P/*/
@media(min-width: 320px) {

    /*/CABEÇALHO/*/


    .header h1 {
        font-size: 20px;
        margin: 0 5px;
        padding: 30px 0 0;
    }

    .header p {
        font-size: 8px;
        padding: 0 7px 0;

    }

    /*/SOBRE/*/
    .tituloSobre {
        font-size: 20px;
        margin: 15px 0 0px;
    }

    .textoSobre {
        padding: 8px 30px;
        font-size: 5px;
        line-height: 5px;
        border-radius: 10px 100px;
    }

    /*/HABILIDADES/*/
    .habilidadeTitulo {
        font-size: 5px;
        margin: 7px 0 5px;


    }

    .habilidades .btnA {
        height: 70px;
        width: 80px;
        margin: 0 10px 3px;
        background-size: 100% 100%;
        border-radius: 3px 30px;
    }

    .habilidades .btnB {
        height: 70px;
        width: 80px;
        margin: 0 10px 3px;
        background-size: 100% 100%;
        border-radius: 3px 30px;
    }

    /*/MVV/*/
    .tituloMvv {
        font-size: 20px;
        margin: 7px 0 0px;
    }

    .textoMvv {

        font-size: 5px;
        border-radius: 100px 10px;
        padding: 20px 30px;
    }

    /*/--------------RODAPÉ------------------/*/
    .rodape {
        height: 179px;
        margin: 15px 0 0;
    }

    .rodape div {
        margin: 0 10px 0 115px;
    }

    .rede {
        padding: 10px 0 0;
        margin: 0 10px;
    }

    .rede a img {
        height: 10px;
        width: 10px;
    }


    .copy {
        font-size: 5px;
        padding: 10px 0 0;
    }

}

/*/---------------------------------/*/

/*/dispositivos M/*/
@media(min-width: 375px) {

    /*/CABEÇALHO/*/
    .header h1 {
        text-align: center;
        font-size: 20px;
        margin: 0 0 5px;
        padding: 30px 0 0;
    }

    .header p {
        font-size: 8px;
        padding: 0 9px 0;

    }

    /*/SOBRE/*/
    .tituloSobre {
        font-size: 20px;
        margin: 15px 0 0px;
    }



    .textoSobre {
        padding: 20px 50px;
        margin: 0px 30px;
        font-size: 8px;
        line-height: 7px;
        border-radius: 10px 100px;
    }

    /*/HABILIDADES/*/
    .habilidadeTitulo {
        font-size: 8px;
        margin: 10px 0 5px;


    }

    .habilidades .btnA {
        margin: 0 15px 3px;
        background-size: 100% 100%;
        border-radius: 3px 30px;
    }

    .habilidades .btnB {
        margin: 0 15px 3px;
        background-size: 100% 100%;
        border-radius: 3px 30px;
    }

    /*/MVV/*/
    .tituloMvv {
        font-size: 20px;
        margin: 7px 0 0px;
    }



    .textoMvv {

        font-size: 8px;
        border-radius: 100px 10px;
        padding: 20px 30px;
    }

    /*/--------------RODAPÉ------------------/*/
    .rodape {
        height: 100px;
        margin: 15px 0 0;
    }

    .rodape div {
        margin: 0 10px 0 127px;
    }

    .rede {
        padding: 10px 0 0;
        margin: 0 10px;
    }

    .rede a img {
        height: 20px;
        width: 20px;
    }


    .copy {
        font-size: 8px;
        padding: 10px 0 0;
    }

}

/*/---------------------------------/*/

/*/dispositivo G/*/
@media(min-width: 425px) {

    /*/CABEÇALHO/*/
    .header h1 {
        text-align: center;
        font-size: 25px;
        margin: 0 0 5px;
        padding: 30px 0 0;
    }

    .header p {
        font-size: 10px;
        padding: 0 9px 0;

    }

    /*/SOBRE/*/
    .tituloSobre {
        font-size: 20px;
        margin: 15px 0 0px;
    }

    .textoSobre {
        padding: 20px 55px;
        margin: 0px 20px;
        font-size: 10px;
        line-height: 9px;
        border-radius: 10px 100px;
    }

    /*/HABILIDADES/*/
    .habilidadeTitulo {
        font-size: 10px;
        margin: 10px 0 10px;


    }

    .habilidades .btnA {
        height: 100px;
        width: 110px;
        margin: 0 15px 3px;
        background-size: 100% 100%;
        border-radius: 3px 30px;
    }

    .habilidades .btnB {
        height: 100px;
        width: 110px;
        margin: 0 15px 3px;
        background-size: 100% 100%;
        border-radius: 3px 30px;
    }

    /*/MVV/*/
    .tituloMvv {
        font-size: 20px;
        margin: 7px 0 0px;
    }

    .textoMvv {

        font-size: 10px;
        border-radius: 100px 10px;
        padding: 25px 20px;
    }

    /*/--------------RODAPÉ------------------/*/
    .rodape {
        height: 100px;
        margin: 15px 0 0;
    }

    .rodape div {
        margin: 0 10px 0 140px;
    }

    .rede {
        padding: 10px 0 0;
        margin: 0 10px;
    }

    .rede a img {
        height: 30px;
        width: 30px;
    }


    .copy {
        font-size: 10px;
        padding: 10px 0 0;
    }

}

/*/---------------------------------/*/

/*/TABLET/*/
@media(min-width: 728px){
    /*/CABEÇALHO/*/
    .header h1 {
        text-align: center;
        font-size: 40px;
        margin: 0 0 5px;
        padding: 30px 0 0;
    }

    .header p {
        font-size: 15px;
        padding: 0 9px 0;

    }

    /*/SOBRE/*/
    .tituloSobre {
        font-size: 25px;
        margin: 15px 0 0px;
    }

    .textoSobre {
        padding: 20px 55px;
        margin: 0px 20px;
        font-size: 15px;
        line-height: 14px;
        border-radius: 10px 100px;
    }

    /*/HABILIDADES/*/
    .habilidadeTitulo {
        font-size: 15px;
        margin: 10px 0 10px;


    }

    .habilidades .btnA {
        height: 140px;
        width: 150px;
        margin: 0 15px 3px;
        background-size: 100% 100%;
        border-radius: 3px 30px;
    }

    .habilidades .btnB {
        height: 140px;
        width: 150px;
        margin: 0 15px 3px;
        background-size: 100% 100%;
        border-radius: 3px 30px;
    }

    /*/MVV/*/
    .tituloMvv {
        font-size: 25px;
        margin: 7px 0 0px;
    }

    .textoMvv {

        font-size: 15px;
        border-radius: 100px 10px;
        padding: 25px 20px;
    }

    /*/--------------RODAPÉ------------------/*/
    .rodape {
        height: 100px;
        margin: 15px 0 0;
    }

    .rodape div {
        margin: 0 10px 0 290px;
    }

    .rede {
        padding: 10px 0 0;
        margin: 0 10px;
    }

    .rede a img {
        height: 30px;
        width: 30px;
    }


    .copy {
        font-size: 10px;
        padding: 10px 0 0;
    }
}

/*/---------------------------------/*/
/*/notebook/*/
@media(min-width: 1024px){
       /*/CABEÇALHO/*/
       
       .header h1 {
        text-align: center;
        font-size: 50px;
        margin: 0 0 5px;
        padding: 20px 0 0;
    }

    .header p {
        font-size: 20px;
        padding: 0 9px 0;

    }

    /*/SOBRE/*/
    .tituloSobre {
        font-size: 30px;
        margin: 15px 0 0px;
    }

    .textoSobre {
        padding: 20px 55px;
        margin: 0px 20px;
        font-size: 20px;
        line-height: 30px;
        border-radius: 10px 100px;
    }

    /*/HABILIDADES/*/
    .habilidadeTitulo {
        font-size: 20px;
        margin: 10px 0 10px;


    }

    .habilidades .btnA {
        height: 250px;
        width: 300px;
        margin: 0 35px 3px;
        background-size: 100% 100%;
        border-radius: 3px 30px;
    }

    .habilidades .btnB {
        height: 250px;
        width: 300px;
        margin: 0 35px 3px;
        background-size: 100% 100%;
        border-radius: 3px 30px;
    }

    /*/MVV/*/
    .tituloMvv {
        font-size: 30px;
        margin: 7px 0 0px;
    }

    .textoMvv {

        font-size: 20px;
        border-radius: 100px 10px;
        padding: 25px 20px;
    }

    /*/--------------RODAPÉ------------------/*/
    .rodape {
        height: 100px;
        margin: 15px 0 0;
    }

    .rodape div {
        margin: 0 10px 0 425px;
    }

    .rede {
        padding: 10px 0 0;
        margin: 0 15px;
    }

    .rede a img {
        height: 30px;
        width: 30px;
    }


    .copy {
        font-size: 20px;
        padding: 10px 0 0;
    }
}
/*/--------------------------------------/*/

@media(min-width: 1440px){
          /*/CABEÇALHO/*/
       
          .header h1 {
            text-align: center;
            font-size: 50px;
            margin: 0 0 5px;
            padding: 20px 0 0;
        }
    
        .header p {
            font-size: 20px;
            padding: 0 9px 0;
    
        }
    
        /*/SOBRE/*/
        .tituloSobre {
            font-size: 30px;
            margin: 15px 0 0px;
        }
    
        .textoSobre {
            padding: 20px 55px;
            margin: 0px 20px;
            font-size: 20px;
            line-height: 30px;
            border-radius: 10px 100px;
        }
    
        /*/HABILIDADES/*/
        .habilidadeTitulo {
            font-size: 20px;
            margin: 10px 0 10px;
    
    
        }
    
        .habilidades .btnA {
            height: 250px;
            width: 300px;
            margin: 0 35px 3px;
            background-size: 100% 100%;
            border-radius: 3px 30px;
        }
    
        .habilidades .btnB {
            height: 250px;
            width: 300px;
            margin: 0 35px 3px;
            background-size: 100% 100%;
            border-radius: 3px 30px;
        }
    
        /*/MVV/*/
        .tituloMvv {
            font-size: 30px;
            margin: 7px 0 0px;
        }
    
        .textoMvv {
    
            font-size: 20px;
            border-radius: 100px 10px;
            padding: 25px 20px;
        }
    
        /*/--------------RODAPÉ------------------/*/
        .rodape {
            height: 100px;
            margin: 15px 0 0;
        }
    
        .rodape div {
            margin: 0 10px 0 625px;
        }
    
        .rede {
            padding: 10px 0 0;
            margin: 0 15px;
        }
    
        .rede a img {
            height: 30px;
            width: 30px;
        }
    
    
        .copy {
            font-size: 20px;
            padding: 10px 0 0;
        }
    }

