body {
    font-family: 'Bungee', cursive;
    background-color: #006080;
}

header {
    height: 100px;
    background-color: #00293b;

}

.header {
    text-align: center;
}

.header h1 {
    font-size: 50px;
    color: #f8b300;
    margin: 0 0 15px;
    padding: 10px 0 0;
}

.header p {
    text-align: center;
    display: inline;
    padding: 0 30px 0;
    color: #c77000;
}

/*/--------------SOBRE MIM-----------------/*/
.tituloSobre {
    color: #f8b300;
    text-shadow: #00293b 2px 2px;
    text-align: center;
    font-size: 30px;
    margin: 30px 0 0px;
}

.textoSobre {
    padding: 10px 60px;
    margin: 0 12%;
    font-size: 20px;
    line-height: 30px;
    color: #f8b300;
    text-shadow: #00293b 1px 1px;
    background-color: #c77000;
    border-radius: 10px 100px;
}

/*/-----------------HABILIDADES----------------------------/*/
.habilidades {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.habilidadeTitulo {
    text-align: center;
    font-size: 20px;
    margin: 30px 0 15px;
    color: #c77000;
    text-shadow: #00293b 1px 1px;

}


.habilidades .btnA {
    transform: scale(1.0);
    transition: 1.5s;
    border: none;
    height: 250px;
    width: 300px;
    margin: 0 100px 30px;
    background-image: url("html5.png");
    background-color: #006080;
    background-size: 100% 100%;
    border-radius: 100px 10px;
}

.habilidades .btnA:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 1.2s;
    background-color: #00293b;
    box-shadow: 10px 10px 20px #00293b;
}

.habilidades .btnB {
    transform: scale(1.0);
    transition: 1.5s;
    border: none;
    height: 250px;
    width: 300px;
    margin: 0 100px 0;
    background-image: url("js.png");
    background-color: #006080;
    background-size: 100% 100%;
    border-radius: 10px 100px;
}

.habilidades .btnB:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 1.2s;
    background-color: #00293b;
    box-shadow: 10px 10px 20px #00293b;
}

/*/------------MVV------------------/*/

.tituloMvv {
    text-align: center;
    font-size: 30px;
    margin: 30px 0 px;
    color: #f8b300;
    text-shadow: #00293b 2px 2px;
}

.textoMvv {
    text-align: center;
    font-size: 20px;
    color: #f8b300;
    text-shadow: #00293b 1px 1px;
    background-color: #c77000;
    border-radius: 100px 10px;
    margin: 0 20%;
}

.textoMvv li {
    padding: 07px 0 07px;
}


/*/--------------RODAPÉ------------------/*/
.rodape {
    background-color: #00293b;
    height: 120px;
    margin: 30px 0 0;
}

.rodape div p {
    float: left;
    margin: 0 20px;
    transform: scale(1.0);
    transition: 1.2s;

}

.rodape div p:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: 1.1s;

}

.rede {
    padding: 10px 0 0;
}



.copy {
    text-align: center;
    color: #c77000;
    background-color: #00293b;
    padding: 10px 0 0;
}

/*/--------------CONFIGURAÇÃO RESPONSIVA-----------------------/*/

/*/dispositivos P/*/
@media(min-width: 320px) {

    /*/CABEÇALHO/*/
    .header {
        height: 2px;
        width: 321px;
    }

    .header h1 {
        font-size: 20px;
        margin: 0 0 5px;
        padding: 2px 0 0;
    }

    .header p {
        font-size: 8px;
        padding: 0 7px 0;

    }

    /*/SOBRE/*/
    .tituloSobre {
        font-size: 20px;
        margin: 15px 0 0px;
    }

    .textoSobre {
        padding: 8px 30px;
        margin: 0px 30px;
        font-size: 5px;
        line-height: 5px;
        border-radius: 10px 100px;
    }

    /*/HABILIDADES/*/
    .habilidadeTitulo {
        font-size: 5px;
        margin: 7px 0 5px;


    }

    .habilidades .btnA {
        height: 70px;
        width: 80px;
        margin: 0 10px 3px;
        background-size: 100% 100%;
        border-radius: 3px 30px;
    }

    .habilidades .btnB {
        height: 70px;
        width: 80px;
        margin: 0 10px 3px;
        background-size: 100% 100%;
        border-radius: 3px 30px;
    }

    /*/MVV/*/
    .tituloMvv {

        font-size: 20px;
        margin: 7px 0 5px;
    }

    .textoMvv {

        font-size: 5px;
        border-radius: 100px 10px;
        padding: 20px 30px;
    }

    /*/--------------RODAPÉ------------------/*/
.rodape {
    height: 50px;
    margin: 15px 0 0;
}

.rede {
    padding: 10px 0 0;

}

.rede a img{
    height: 10px;
    width: 10px;
}


.copy {
    font-size: 5px;
    padding: 10px 0 0;
}

}
